### Import libraries

In [285]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import csv
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score,mean_squared_error
from sklearn.ensemble import RandomForestRegressor

### Define useful functions

In [1076]:
def extract_zip_code(hotel_address):
    address_tmp = hotel_address.split(',')[-2].strip(' ').split(' ')[-1][:3]
    if address_tmp == 'NY1':
        return hotel_address.split(',')[-2].strip(' ').split(' ')[-1][2:5]
    else:
        return address_tmp

def extract_price(hotel_room_price):
    room_price_tmp = hotel_room_price.strip('\r').strip('US$')
    if room_price_tmp == '':
        return None
    else:
        room_price_tmp = room_price_tmp.replace(',' , '')
        return float(room_price_tmp)
    
def extract_capacity(hotel_room_capacity):
    return int(hotel_room_capacity[-1])

def extract_chain(hotel_name):
    hotel_name_lower=hotel_name.lower()
    if 'doubletree by hilton' in hotel_name_lower:
        return 'Doubletree Hilton'
    elif 'homewood suites by hilton' in hotel_name_lower:
        return 'Homewood Suites Hilton'
    elif 'hilton garden' in hotel_name_lower:
        return 'Hilton Garden'
    elif 'home2' in hotel_name_lower:
        return 'Home2 Hilton'
    elif 'tru' in hotel_name_lower:
        return 'Tru Hilton'
    elif 'hilton' in hotel_name_lower:
        return 'Hilton'
    
    elif 'courtyard by marriott' in hotel_name_lower:
        return 'Courtyard Marriott'
    elif 'fairfield inn' in hotel_name_lower:
        return 'Fairfield Inn Marriott'
    elif 'residence inn by marriott' in hotel_name_lower:
        return 'Residence Inn Marriott'
    elif 'marriott' in hotel_name_lower:
        return 'Marriott'
    
    elif 'hyatt' in hotel_name_lower:
        return 'Hyatt'
    elif 'wyndham' in hotel_name_lower:
        return 'Wyndham'
    elif 'embassy' in hotel_name_lower:
        return 'Embassy'
    elif 'sheraton' in hotel_name_lower:
        return 'Sheraton'
    elif 'radisson' in hotel_name_lower:
        return 'Radisson'
    elif 'best western' in hotel_name_lower:
        return 'Best Western'
    elif 'hampton' in hotel_name_lower:
        return 'Hampton'
    elif 'holiday inn' in hotel_name_lower:
        return 'Holiday Inn'
    elif 'westin' in hotel_name_lower:
        return 'Westin'
    elif 'red roof' in hotel_name_lower:
        return 'Red Roof'
    else:
        return 'No chain'

def extract_hotel_stars(hotel_stars):
    if hotel_stars in ['1 stars', '1-star hotel']:
        return 1.0
    elif hotel_stars in ['1.5 stars', '1.5 star hotel']:
        return 1.5
    elif hotel_stars in ['2 stars', '2-star hotel']:
        return 2.0
    elif hotel_stars in ['2.5 stars', '2.5 star hotel']:
        return 2.5
    elif hotel_stars in ['3 stars', '3-star hotel']:
        return 3.0
    elif hotel_stars in ['3.5 stars', '3.5 star hotel']:
        return 3.5
    elif hotel_stars in ['4 stars', '4-star hotel']:
        return 4.0
    elif hotel_stars in ['4.5 stars', '4.5 star hotel']:
        return 4.5
    elif hotel_stars in ['5 stars', '5-star hotel']:
        return 5.0
    else:
        return None
    
def extract_cleanliness_rating(hotel_rating_breakdown):
    item_tmp = hotel_rating_breakdown.strip('[]').split('], [')[0]
    if item_tmp.split(',')[0]=="'Cleanliness'":
        return float(item_tmp.split(',')[1].strip(' ').strip("''"))
    else:
        return None
    
def extract_comfort_rating(hotel_rating_breakdown):
    item_tmp = hotel_rating_breakdown.strip('[]').split('], [')[1]
    if item_tmp.split(',')[0]=="'Comfort'":
        return float(item_tmp.split(',')[1].strip(' ').strip("''"))
    else:
        return None
    
def extract_location_rating(hotel_rating_breakdown):
    item_tmp = hotel_rating_breakdown.strip('[]').split('], [')[2]
    if item_tmp.split(',')[0]=="'Location'":
        return float(item_tmp.split(',')[1].strip(' ').strip("''"))
    else:
        return None
    
def extract_facilities_rating(hotel_rating_breakdown):
    item_tmp = hotel_rating_breakdown.strip('[]').split('], [')[3]
    if item_tmp.split(',')[0]=="'Facilities'":
        return float(item_tmp.split(',')[1].strip(' ').strip("''"))
    else:
        return None
    
def extract_staff_rating(hotel_rating_breakdown):
    item_tmp = hotel_rating_breakdown.strip('[]').split('], [')[4]
    if item_tmp.split(',')[0]=="'Staff'":
        return float(item_tmp.split(',')[1].strip(' ').strip("''"))
    else:
        return None
    
def extract_value_rating(hotel_rating_breakdown):
    item_tmp = hotel_rating_breakdown.strip('[]').split('], [')[5]
    if item_tmp.split(',')[0]=="'Value for money'":
        return float(item_tmp.split(',')[1].strip(' ').strip("''"))
    else:
        return None
    
def extract_wifi_rating(hotel_rating_breakdown):
    item_tmp = hotel_rating_breakdown.strip('[]').split('], [')
    if len(item_tmp)<7:
        return None
    elif item_tmp[6].split(',')[0]=="'Free WiFi'":
        return float(item_tmp[6].split(',')[1].strip(' ').strip("''"))
    else:
        return None
    
def filter_zip_code(hotel_address_zip_code):
    hotel_address_zip_code_short = hotel_address_zip_code[:3]
    zip_code_list = ['100','101','102','103','104','107','110','111','112','113','114','116']
    if hotel_address_zip_code_short not in zip_code_list:
        return None
    else:
        return hotel_address_zip_code

### Import dataset

In [1077]:
df_hotel_detailed_info_list = pd.read_csv('./datasets/nys_hotel_detailed_info_list.csv',lineterminator='\n')

### Cleaning and pre-processing

In [1078]:
df_hotel_detailed_info_list.rename(columns={'hotel_room_price\r': 'hotel_room_price'},inplace=True)

In [1079]:
df_hotel_detailed_info_list['hotel_address_zip_code'] = df_hotel_detailed_info_list['hotel_address'].apply(extract_zip_code)

In [1080]:
df_hotel_detailed_info_list['hotel_room_price'] = df_hotel_detailed_info_list['hotel_room_price'].apply(extract_price)
df_hotel_detailed_info_list = df_hotel_detailed_info_list[~pd.isnull(df_hotel_detailed_info_list['hotel_room_price'])]

In [1081]:
df_hotel_detailed_info_list['hotel_room_capacity'] = df_hotel_detailed_info_list['hotel_room_capacity'].apply(extract_capacity)

In [1082]:
df_hotel_detailed_info_list['hotel_chain'] = df_hotel_detailed_info_list['hotel_name'].apply(extract_chain)

In [1083]:
df_hotel_detailed_info_list['hotel_cleanliness_rating'] = df_hotel_detailed_info_list['hotel_rating_breakdown'].apply(extract_cleanliness_rating)
df_hotel_detailed_info_list['hotel_comfort_rating'] = df_hotel_detailed_info_list['hotel_rating_breakdown'].apply(extract_comfort_rating)
df_hotel_detailed_info_list['hotel_location_rating'] = df_hotel_detailed_info_list['hotel_rating_breakdown'].apply(extract_location_rating)
df_hotel_detailed_info_list['hotel_facilities_rating'] = df_hotel_detailed_info_list['hotel_rating_breakdown'].apply(extract_facilities_rating)
df_hotel_detailed_info_list['hotel_staff_rating'] = df_hotel_detailed_info_list['hotel_rating_breakdown'].apply(extract_staff_rating)
df_hotel_detailed_info_list['hotel_value_rating'] = df_hotel_detailed_info_list['hotel_rating_breakdown'].apply(extract_value_rating)
df_hotel_detailed_info_list['hotel_wifi_rating'] = df_hotel_detailed_info_list['hotel_rating_breakdown'].apply(extract_wifi_rating)

In [1084]:
hotel_wifi_median = df_hotel_detailed_info_list['hotel_wifi_rating'].median()
df_hotel_detailed_info_list['hotel_wifi_rating'].fillna(hotel_wifi_median,inplace=True)

In [1085]:
df_hotel_detailed_info_list['hotel_stars'] = df_hotel_detailed_info_list['hotel_stars'].apply(extract_hotel_stars)

### Create copy of dataframe

In [1086]:
df_hotel_detailed_info_list_filtered = df_hotel_detailed_info_list.copy()

### Filter on zip codes

In [1087]:
#df_hotel_detailed_info_list_filtered['hotel_address_zip_code'] = df_hotel_detailed_info_list_filtered['hotel_address_zip_code'].apply(filter_zip_code)
#df_hotel_detailed_info_list_filtered = df_hotel_detailed_info_list_filtered[~pd.isnull(df_hotel_detailed_info_list_filtered['hotel_address_zip_code'])]

### Filter on hotel stars

In [1088]:
#df_hotel_detailed_info_list_filtered = df_hotel_detailed_info_list_filtered[(df_hotel_detailed_info_list_filtered['hotel_stars']==3.0) | (df_hotel_detailed_info_list_filtered['hotel_stars']==4.0)]

### Media imputation for hotel stars (if not filtered)

In [1089]:
hotel_stars_median = df_hotel_detailed_info_list_filtered['hotel_stars'].median()
df_hotel_detailed_info_list_filtered['hotel_stars'].fillna(hotel_stars_median,inplace=True)

### Create price per person column

In [1090]:
df_hotel_detailed_info_list_filtered['hotel_room_price_per_person'] = df_hotel_detailed_info_list_filtered['hotel_room_price']/df_hotel_detailed_info_list_filtered['hotel_room_capacity']

### Remove outlier

In [1091]:
df_hotel_detailed_info_list_filtered = df_hotel_detailed_info_list_filtered[df_hotel_detailed_info_list_filtered['hotel_name']!='Del Lago Resort & Casino']

In [918]:
df_hotel_detailed_info_list_filtered.head()

,hotel_name,hotel_stars,hotel_address,hotel_overall_rating,hotel_rating_breakdown,hotel_room_name,hotel_room_capacity,hotel_room_price,hotel_address_zip_code,hotel_chain,hotel_cleanliness_rating,hotel_comfort_rating,hotel_location_rating,hotel_facilities_rating,hotel_staff_rating,hotel_value_rating,hotel_wifi_rating,hotel_room_price_per_person
0,Adelphi Hotel,4.0,"365 Broadway, Saratoga Springs, NY 12866, Unit...",9.8,"[['Cleanliness', '10.0'], ['Comfort', '10.0'],...",Premier King Room,2,235.0,128,No chain,10.0,10.0,9.9,10.0,9.6,9.4,10.0,117.500000
2,Homewood Suites By Hilton Saratoga Springs,3.0,"3368 South Broadway , Saratoga Springs, NY 1...",9.6,"[['Cleanliness', '9.8'], ['Comfort', '9.8'], [...",One-Bedroom King Suite with Balcony - Non-Smoking,3,194.0,128,Hilton,9.8,9.8,9.4,9.8,9.7,9.3,8.9,64.666667
3,Aqualina Inn Montauk,3.0,"20 S Elmwood Avenue, Montauk, NY 11954, United...",9.5,"[['Cleanliness', '9.8'], ['Comfort', '9.6'], [...",Queen Room with Courtyard,2,159.0,119,No chain,9.8,9.6,9.7,9.4,9.7,9.0,9.8,79.500000
4,Watkins Glen Harbor Hotel,3.0,"16 N. Franklin St., Watkins Glen, NY 14891, Un...",9.5,"[['Cleanliness', '9.8'], ['Comfort', '9.8'], [...",King Room with Village View,2,249.0,148,No chain,9.8,9.8,9.7,9.6,9.6,8.8,9.0,124.500000
5,The Whitby Hotel,5.0,"18 West 56th Street, New York, NY 10019, Unite...",9.5,"[['Cleanliness', '9.9'], ['Comfort', '9.8'], [...",Superior Room,2,770.0,100,No chain,9.9,9.8,9.6,9.6,9.7,8.4,9.3,385.000000

In [1013]:
df_hotel_detailed_info_list_filtered['hotel_chain'].unique()

array(['No chain', 'Homewood Suites Hilton', 'Embassy', 'Hampton',
       'Marriott', 'Courtyard Marriott', 'Holiday Inn',
       'Fairfield Inn Marriott', 'Wyndham', 'Best Western', 'Hyatt',
       'Doubletree Hilton', 'Radisson', 'Westin', 'Red Roof', 'Sheraton'],
      dtype=object)

In [1048]:
for item in df_hotel_detailed_info_list['hotel_name']:
    if 'hilton' in item.lower(): print(item.lower())

homewood suites by hilton saratoga springs
homewood suites by hilton clifton park
hilton garden inn corning downtown
homewood suites by hilton poughkeepsie
hampton inn by hilton new paltz, ny
home2 suites by hilton queensbury glens falls
tru by hilton syracuse north airport area
tru by hilton syracuse-camillus
home2 suites by hilton oswego
home2 suites by hilton saratoga malta
tru by hilton williamsville buffalo airport
doubletree by hilton hotel utica
tailwater lodge altmar, tapestry collection by hilton
hilton garden inn clifton park
homewood suites by hilton new hartford utica
embassy suites by hilton syracuse destiny usa
doubletree by hilton nanuet
hilton garden inn auburn
homewood suites by hilton syracuse - carrier circle
hotel saranac, curio collection by hilton
home2 suites by hilton williamsville buffalo airport
hilton garden inn nyc financial center/manhattan downtown
homewood suites by hilton albany crossgates mall
hilton garden inn watertown
hampton inn & suites by hilton - rockville centre
hilton garden inn roslyn
home2 suites by hilton rochester henrietta, ny
hotel skyler syracuse, tapestry collection by hilton
doubletree by hilton jamestown, ny
the homewood suites by hilton ithaca
homewood suites by hilton buffalo-amherst
hampton inn by hilton garden city long island
doubletree by hilton hotel niagara falls new york
hilton garden inn troy
tru by hilton middletown
home2 suites by hilton buffalo airport/ galleria mall
doubletree by hilton binghamton
the bernic hotel new york city,tapestry collection by hilton
hilton garden inn buffalo airport
home2 suites by hilton albany airport/wolf rd
hilton garden inn stony brook
hilton garden inn new york times square south
hilton garden inn elmira/corning
hilton garden inn riverhead
hilton garden inn albany airport
hampton by hilton manhattan 35th street - empire state building
homewood suites by hilton carle place/westbury, ny
hilton garden inn west 35th street
hilton garden inn albany medical center
hilton garden inn rochester university
hilton garden inn melville
hilton garden inn long island city
homewood suites by hilton binghamton/vestal
hilton garden inn albany-suny area
homewood suites by hilton buffalo/airport
hilton garden inn islip/macarthur airport
the hilton garden inn buffalo-downtown
home2 suites by hilton long island brookhaven
the renwick hotel new york city, curio collection by hilton
hilton garden inn westbury
the saratoga hilton
hilton garden inn syracuse
hilton garden inn new york manhattan midtown east
hilton pearl river
hilton garden inn saratoga springs
doubletree by hilton buffalo-amherst
hilton garden inn rochester/pittsford
homewood suites by hilton rochester - victor
hilton garden inn times square
hampton inn & suites by hilton syracuse dewitt
hilton brooklyn new york
hilton garden inn new york/tribeca
doubletree by hilton schenectady
hilton garden inn new york/manhattan-chelsea
millennium hilton new york downtown
martinique new york on broadway, curio collection by hilton
the quin central park by hilton club
home2 suites by hilton amherst buffalo
the strathallan - a doubletree by hilton
hilton garden inn new york/midtown park avenue
hilton times square
doubletree by hilton rochester
embassy suites by hilton new york manhattan times square
hilton garden inn times square central
homewood suites by hilton rochester/greece, ny
hilton garden inn poughkeepsie/fishkill
hilton garden inn rochester downtown
hilton garden inn central park south
doubletree by hilton tarrytown
homewood suites by hilton ronkonkoma
doubletree by hilton syracuse
hilton long island/huntington
hilton new york fashion district
distrikt hotel new york city, tapestry collection by hilton
hilton westchester
new york hilton midtown
doubletree by hilton new york downtown
doubletree by hilton new york times square west
hilton garden inn new york/staten island
the roslyn, tapestry collection by hilton
tru by hilton albany airport, ny
canopy by hilton ithaca downtown
doubletree by hilton metropolitan new york city
hilton garden inn queens/jfk
hilton new york jfk airport hotel
hilton albany
hilton club new york
tru by hilton vestal binghamton

## Modeling

### Create features and target

In [1092]:
df_features = df_hotel_detailed_info_list_filtered[['hotel_stars','hotel_overall_rating','hotel_address_zip_code','hotel_chain','hotel_cleanliness_rating','hotel_comfort_rating','hotel_location_rating','hotel_facilities_rating','hotel_staff_rating','hotel_value_rating','hotel_wifi_rating']]
df_target = df_hotel_detailed_info_list_filtered[['hotel_room_price_per_person']]

In [1093]:
df_features.head()

,hotel_stars,hotel_overall_rating,hotel_address_zip_code,hotel_chain,hotel_cleanliness_rating,hotel_comfort_rating,hotel_location_rating,hotel_facilities_rating,hotel_staff_rating,hotel_value_rating,hotel_wifi_rating
0,4.0,9.8,128,No chain,10.0,10.0,9.9,10.0,9.6,9.4,10.0
2,3.0,9.6,128,Homewood Suites Hilton,9.8,9.8,9.4,9.8,9.7,9.3,8.9
3,3.0,9.5,119,No chain,9.8,9.6,9.7,9.4,9.7,9.0,9.8
4,3.0,9.5,148,No chain,9.8,9.8,9.7,9.6,9.6,8.8,9.0
5,5.0,9.5,100,No chain,9.9,9.8,9.6,9.6,9.7,8.4,9.3

### Standardize numerical features & create dummy variables for categorical features

In [1094]:
categorical_features = ['hotel_address_zip_code','hotel_chain']

In [1095]:
train_test_scaled_inputs = df_features.copy()
train_test_num_features = train_test_scaled_inputs.drop(categorical_features,axis=1)
train_test_num_features_col = train_test_num_features.columns.values

scaler = StandardScaler()
scaler.fit(train_test_num_features.values)

train_test_num_features = scaler.transform(train_test_num_features.values)
train_test_scaled_inputs[train_test_num_features_col] = train_test_num_features

In [1096]:
train_test_scaled_inputs = pd.get_dummies(train_test_scaled_inputs,columns=categorical_features,drop_first=True)

### Train-validation split

In [1097]:
x_train, x_val, y_train, y_val = train_test_split(train_test_scaled_inputs,df_target, test_size = 0.2, random_state = 42)

### Random forest

In [1098]:
rf = RandomForestRegressor(n_jobs=-1, random_state = 42, n_estimators=200, max_features=10)
rf.fit(x_train,y_train.values.ravel())

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features=10, max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=200, n_jobs=-1, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [1099]:
y_train_rf_pred = rf.predict(x_train)
y_val_rf_pred = rf.predict(x_val)

In [1100]:
R2_train=rf.score(x_train,y_train)
adj_R2_train=1-(1-R2_train)*(x_train.shape[0]-1)/(x_train.shape[0]-x_train.shape[1]-1)

R2_val=rf.score(x_val,y_val)
adj_R2_val=1-(1-R2_val)*(x_val.shape[0]-1)/(x_val.shape[0]-x_val.shape[1]-1)

print(R2_train)
print(adj_R2_train)
print()
print(R2_val)
print(adj_R2_val)

0.9476565308354119
0.9442399696681836

0.612415638605408
0.4864507211521657

In [1101]:
y_val[:10]

      hotel_room_price_per_person
1022                        249.5
1257                        174.5
1444                         40.5
398                         175.0
1809                        147.5
108                         499.5
1361                         55.0
615                         238.0
1214                         30.0
759                          80.5

In [1102]:
y_val_rf_pred[:10]

array([177.63166667, 152.43583333,  45.92625   , 120.73233333,
       108.515     , 125.27      ,  57.9625    , 164.40841667,
        45.22833333,  71.63125   ])

### LinearRegression

In [672]:
reg = LinearRegression()
reg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [673]:
# get intercept
const=reg.intercept_
print ('intercept = ',const)

# get weights
reg_summary = pd.DataFrame(train_test_scaled_inputs.columns.values, columns=['Features'])
reg_summary['Weights'] = reg.coef_[0]
reg_summary

intercept =  [141.29120285]

                    Features    Weights
0                hotel_stars  14.455863
1       hotel_overall_rating  20.145971
2   hotel_cleanliness_rating -20.179418
3       hotel_comfort_rating  53.219789
4      hotel_location_rating   4.068554
..                       ...        ...
64      hotel_chain_Radisson  -0.868696
65      hotel_chain_Red Roof  24.729815
66      hotel_chain_Sheraton  -6.732327
67        hotel_chain_Westin  -2.144409
68       hotel_chain_Wyndham  19.467008

[69 rows x 2 columns]

In [674]:
y_hat_val = reg.predict(x_val)

R2_val=reg.score(x_val,y_val)
adj_R2_val=1-(1-R2_val)*(x_val.shape[0]-1)/(x_val.shape[0]-x_val.shape[1]-1)
print ('R2_val = ',R2_val)
print ('adj_R2_val = ',adj_R2_val)

print ('RMSE_val = ',mean_squared_error(y_val, y_hat_val, squared=False))

R2_val =  -1.483398550668115e+22
adj_R2_val =  -1.894460799648436e+22
RMSE_val =  9940511876796.78

In [283]:
y_hat_val

array([[ 3.16972421e+01],
       [ 3.16331939e+02],
       [ 1.81883549e+02],
       [ 3.14903971e+02],
       [ 4.92801503e+02],
       [ 2.23342205e+02],
       [ 2.01695220e+02],
       [ 3.30194093e+02],
       [ 3.37569372e+02],
       [ 6.75847899e+01],
       [ 7.52152020e+01],
       [ 7.09263241e+01],
       [ 1.36765691e+02],
       [ 1.34418889e+02],
       [ 2.64710123e+02],
       [ 7.99653062e+01],
       [ 4.16272908e+02],
       [ 5.05386440e+02],
       [ 5.00535356e+01],
       [ 1.54768680e+02],
       [ 3.04287479e+01],
       [ 1.51090899e+02],
       [ 3.97930510e+01],
       [ 1.27131527e+02],
       [ 4.05865590e+02],
       [ 4.59347164e+02],
       [ 1.35454270e+02],
       [ 7.11582682e+00],
       [ 2.42036715e+02],
       [ 3.45421159e+02],
       [ 1.39279192e+02],
       [ 2.08145003e+02],
       [ 2.56388260e+01],
       [ 2.10702914e+02],
       [ 6.64939123e+01],
       [ 2.30753616e+02],
       [ 8.98974995e+01],
       [ 3.54672337e+01],
       [ 5.12112339e+01],
       [ 1.36145103e+02],
       [ 1.93493000e+02],
       [ 1.49389786e+02],
       [ 1.85315876e+02],
       [ 2.37046345e+02],
       [ 6.52646804e+01],
       [ 2.07853494e+02],
       [ 4.35263173e+02],
       [ 1.71314474e+02],
       [ 1.86738914e+02],
       [ 1.64173050e+02],
       [ 1.92272450e+02],
       [ 2.85379237e+02],
       [ 3.09442405e+02],
       [ 2.53953116e+02],
       [ 3.55423208e+02],
       [-2.32436163e+01],
       [ 4.00445510e+02],
       [ 2.05907608e+02],
       [ 5.35849715e+02],
       [ 3.45313736e+02],
       [ 4.40232764e+02],
       [ 3.95119855e+02],
       [ 4.32524741e+01],
       [ 1.00071653e+02],
       [ 2.42949772e+02],
       [ 3.06412474e+02],
       [ 5.91804262e+01],
       [ 1.10431177e+02],
       [ 3.93695991e+02],
       [ 1.69483151e+02],
       [ 2.82987308e+02],
       [ 3.43125825e+02],
       [ 1.40216057e+02],
       [ 1.96386181e+02],
       [ 2.45572194e+02],
       [ 8.28366095e+01],
       [ 1.02585280e+14],
       [ 2.29961586e+02],
       [ 2.22335845e+02],
       [ 2.26744487e+02],
       [ 1.68782710e+02],
       [ 4.93334235e+02],
       [-4.60492759e+00],
       [ 2.19932505e+02],
       [ 2.01184412e+02],
       [ 2.24009723e+01],
       [ 3.03064515e+02],
       [ 4.96001694e+02],
       [ 8.07919267e+00],
       [ 5.05844188e+01],
       [ 4.22192843e+02],
       [ 3.16269498e+02],
       [ 2.84162212e+02],
       [ 3.13368493e+02],
       [ 4.37608103e+02],
       [ 1.16907175e+02],
       [ 9.97367289e+01],
       [ 9.19743155e+01],
       [ 1.12911825e+02],
       [ 1.68698704e+02],
       [ 8.34462663e+01],
       [ 2.19287408e+02],
       [ 5.53735714e+01],
       [ 2.14581654e+02],
       [ 1.16549679e+02],
       [ 9.88223221e+01],
       [ 2.11836250e+02],
       [ 1.53240162e+02],
       [ 2.45839729e+02],
       [ 2.80835882e+02],
       [ 4.04169468e+02],
       [ 1.64031358e+02],
       [ 6.81682566e+01],
       [ 3.00550954e+02],
       [ 3.85410233e+02],
       [ 1.61072112e+02],
       [ 1.76344423e+02],
       [ 3.66585639e+02],
       [ 3.73927261e+02],
       [-1.50880727e+01],
       [ 2.67723063e+02],
       [ 4.75672746e+01],
       [ 6.29182675e+01],
       [ 2.90978504e+02],
       [ 1.73474225e+02],
       [ 3.72115200e+02],
       [ 3.57214875e+02],
       [ 2.12919391e+02],
       [ 1.49075003e+02],
       [ 1.01182060e+02],
       [-2.15088421e+01],
       [ 1.07817078e+02],
       [ 1.84680785e+02],
       [ 3.56292423e+02],
       [ 3.65436391e+02],
       [ 6.07701276e+01],
       [ 3.95953785e+02],
       [ 1.73924648e+01],
       [ 2.70156993e+02],
       [-2.20225569e+15],
       [ 2.28726877e+02],
       [ 1.68568090e+02],
       [ 1.72008139e+02],
       [ 1.31002226e+02],
       [ 2.72035880e+02],
       [ 2.69317496e+02],
       [ 1.47548591e+02],
       [ 3.79256579e+02],
       [ 2.98751292e+02],
       [ 4.17470296e+01],
       [ 3.57783035e+02],
       [-1.43283640e+01],
       [ 1.69299819e+02],
       [ 2.30924818e+02],
       [ 2.48099294e+01],
       [ 4.34742572e+02],
       [ 2.53685647e+02],
       [ 7.58082010e+01],
       [ 1.73749592e+02],
       [-6.45276822e+01],
       [ 4.57004712e+02],
       [ 1.59437149e+02],
       [ 3.99812862e+02],
       [-9.23590757e+00],
       [ 1.83723405e+02],
       [ 3.58248202e+02],
       [ 1.54009213e+02],
       [ 3.05221702e+02],
       [ 2.85607212e+02],
       [ 1.63820843e+02],
       [ 8.98890244e+01],
       [ 1.65251043e+02],
       [ 3.92446136e+02],
       [ 1.25722280e+02],
       [ 1.66152351e+02],
       [ 3.28003448e+02],
       [ 1.86711525e+02],
       [-3.10005287e+01],
       [ 4.33096031e+02],
       [ 1.73843807e+02],
       [ 2.35572021e+01],
       [ 1.70306068e+02],
       [ 1.94013759e+02],
       [ 3.72481115e+01],
       [ 3.87114946e+02],
       [ 3.05591648e+02],
       [ 1.69633715e+02],
       [ 7.88601155e+01],
       [ 3.20816650e+02],
       [ 3.46070630e+02],
       [-9.61554962e+01],
       [ 1.34140023e+02],
       [ 2.68727304e+01],
       [ 1.81010983e+02],
       [ 2.09400642e+02],
       [ 2.62286019e+02],
       [ 3.23808618e+02],
       [ 1.55451555e+02],
       [ 4.67862295e+02],
       [ 2.26962893e+02],
       [ 7.34729390e+01],
       [ 8.64110681e+01],
       [ 2.02415554e+02],
       [ 4.67611682e+02],
       [ 1.31967084e+02],
       [ 4.11266993e+02],
       [ 5.52974527e+02],
       [ 2.58971255e+02],
       [ 1.42882362e+02],
       [ 1.46969166e+02],
       [ 2.23873524e+02],
       [ 6.89423341e+01],
       [ 1.21732135e+02],
       [ 2.60433663e+02],
       [ 1.38824927e+02],
       [ 4.08033411e+02],
       [ 1.26204443e+02],
       [ 2.62046259e+02],
       [ 1.79236717e+02],
       [ 1.54097499e+02],
       [ 9.37275313e+01],
       [ 1.33859191e+02],
       [ 2.83762485e+02],
       [ 7.42853593e+01],
       [ 3.29267539e+02],
       [ 1.29334008e+02],
       [ 1.76828924e+02],
       [ 1.37511822e+02],
       [ 8.75976881e+01],
       [-1.84947041e+01],
       [ 6.71727656e+01],
       [ 2.09539390e+02],
       [ 1.37814723e+02],
       [ 3.19383736e+02],
       [ 2.32884908e+02],
       [ 2.15959100e+02],
       [ 2.21957303e+02],
       [ 1.72918090e+02],
       [ 1.22721774e+02],
       [ 4.23624189e+02],
       [ 4.11424208e+02],
       [ 1.66454513e+02],
       [ 1.93581083e+02],
       [-4.19129798e+01],
       [-8.60340224e+00],
       [-2.17217418e+01],
       [ 4.09460783e+02],
       [ 5.20587064e+01],
       [ 3.38731929e+01],
       [ 2.04581065e+02],
       [ 4.99285868e+02],
       [ 3.66092602e+02],
       [ 1.94144633e+02],
       [ 1.77539093e+02],
       [ 8.20608475e+01],
       [ 2.46715754e+02],
       [ 8.65265450e+01],
       [-3.85549191e+01],
       [ 2.00563784e+02],
       [ 9.15762120e+01],
       [ 2.87169380e+02],
       [ 4.79826695e+02],
       [ 5.28997784e+02],
       [ 1.17351790e+02],
       [ 2.23736467e+02],
       [ 1.69649934e+02],
       [ 2.72059537e+01],
       [ 1.02261880e+02],
       [ 7.01880710e+01],
       [ 5.64755710e+02],
       [ 1.77859316e+02],
       [ 1.04610702e+02],
       [ 1.58526393e+02],
       [ 1.39134455e+02],
       [ 1.98800405e+02],
       [ 8.47992880e+00],
       [ 3.06115697e+02],
       [ 1.46657764e+02],
       [ 2.15951269e+02],
       [ 4.72059025e+02],
       [ 2.27575622e+02],
       [ 1.36463829e+02],
       [ 1.71479233e+02],
       [ 4.53320136e+02],
       [ 3.36877264e+02],
       [ 3.68761322e+02],
       [ 2.80158115e+02],
       [ 1.20262134e+02],
       [ 1.39576462e+02],
       [-9.66868277e+01],
       [ 2.12352845e+02],
       [ 4.97850331e+01],
       [ 8.64723263e+01],
       [-5.62628399e+01],
       [ 3.70321550e+01],
       [ 4.17263653e+01],
       [ 3.03773760e+02],
       [ 2.56123214e+02],
       [ 3.11176506e+02],
       [ 1.16411257e+02],
       [ 2.39543479e+02],
       [ 1.11085864e+02],
       [ 5.51887835e+01],
       [ 5.24571447e+01],
       [ 8.04703322e+01],
       [-2.63909204e+01],
       [ 4.36547098e+02],
       [ 4.19879386e+02],
       [ 3.73906550e+02],
       [ 1.71368389e+02],
       [ 2.40052736e+02],
       [ 9.97109251e+01],
       [ 1.42295454e+02],
       [ 5.17989987e+01],
       [ 1.68428430e+02],
       [ 4.26337839e+02],
       [ 4.22600186e+02],
       [ 3.67875016e+02],
       [ 4.22704639e+01]])